<%- include('../shared/header', { title: 'Home'}) %>
<main class="container">
  <h1 class="heading">Personal Blog</h1>

  <% if (articles.length === 0) { %>
    <div class="article-card">
      <p>No articles yet.</p>
    </div>
  <% } else { %>
    <div class="articles-list">
      <% articles.forEach(article => { %>
        <article class="article-card">
          <h2>
            <a href="/article/<%= article.id %>"><%= article.title %></a>
          </h2>
          <div class="article-meta">
            <%= article.formattedDate %>
          </div>
        </article>
        <% }) %>
    </div>
  <% } %>
</main>
<%- include('../shared/footer', { currentYear: year }) %>